# Auto detect text files and perform LF normalization
<!DOCTYPE html>
<html lang="pt-br">



    <h1>Título da página</h1>
    <h2>Subtítulo</h2>

    <img src="img/UI-UX.png" alt="UI/UX">

</body>

</html>

